ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://127.0.0.1:5049

Jwt__Issuer=admin.jokster
Jwt__Audience=admin.jokester
Jwt__SecretKey=AIzaSyAVZCE9Du3fSb23x4DLryJqrMfSREC80J8
Jwt__AccessTokenExpiresMinutes=120
Jwt__RefreshTokenExpiresDays=7

Database__Provider=MySql
Database__ConnectionString=server=localhost;Database=jokester.admin;Uid=jokester;Pwd=qwe219910;Port=3306;Allow User Variables=True;SslMode=None;AllowPublicKeyRetrieval=True;

Redis__ConnectionString=localhost:6379,abortConnect=false
Redis__InstanceName=jokester-admin
Redis__EnableInMemoryRefreshTokenFallback=false

Mail__Host=smtp.163.com
Mail__Port=465
Mail__UseSsl=false
Mail__SecureSocketOptions=SslOnConnect
Mail__UserName=aimerkeliang@163.com
Mail__Password=WQjaffHKYy9wc2vd
Mail__FromAddress=aimerkeliang@163.com
Mail__FromName=Jokester

EmailValidation__EnableApiValidation=false
EmailValidation__ApiEndpoint=
EmailValidation__ApiKey=
EmailValidation__ApiKeyHeaderName=Authorization

OpenAI__BaseUrl=https://api.dawclaudecode.com/v1
OpenAI__ApiKey=sk-99EqhqzzNPRGdBO7xRX7rcYEZXZdfLhCULNbVDaEvndDYPWV
OpenAI__ImageModel=gpt-image-2-4k

NanoBanana2__BaseUrl=https://api.dawclaudecode.com/v1
NanoBanana2__ApiKey=sk-vCkyGGr7uUPwd9XuPxg3QrqX46Vy4sgQtb9MuTI6JsZ7u0gt
NanoBanana2__ImageModel=nano-banana-2
NanoBanana2__TextToImagePath=/images/generations
NanoBanana2__ImageToImagePath=/images/edits

BootstrapAdmin__UserName=jokerster
BootstrapAdmin__Password=For.ever13!#
BootstrapAdmin__Secret=AIzaSyAVZCE9Du3fSb23x4DLryJqrMfSREC80J8
